:root { 
    --indent: 4em;
    --border-codeblock-radius: 16px;
    --color-key-code: #ffda38;
    --color-key-attr: #1bcae9;
    --color-key-value: #d63155;
    --color-key-comma: #adadad;
    --color-key-text: #86df4c;
    --background-color-blue: #30334d;
    --background-color-grey: #4d565c;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    margin: 0 5em ;
}

p,ul,ol {
    font-size: 2rem;
}
h1 {
    font-size: 5rem;
}
h2 { 
    font-size: 4rem;
}

/* Navbar */
/* TODO: mudar a hierarquia
 * ul.nav>li -> .nav>a.nav-item 
 */
ul.nav { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column dense;
    background: #30334d;
}

ul.nav>li{
    padding: 1em;
    color: white;
    font-size: 1.5ch;
    text-align: center;
}
ul.nav>li:not(.active) {
    cursor: pointer;
}

ul.nav>li.active {
    font-weight: 800;
    background-color: #4d565c;
}

ul.nav>li:first-child {
    padding: 1em 2em;
}
ul.nav>li:hover:not(.active) {
    color: #a6acaf;
    background-color: #00000015;
    font-weight: 700;
}
ul.nav>li>a {
    user-select: none;
    text-decoration: none;
    color: white;
}
ul.nav>li.active>a {
    color: #adadad;
    cursor: default;
    pointer-events: none;
}

/* Codigos */
.code-heading {
    font-family: "Consolas", Courier, monospace;
    background-color: var(--background-color-blue);
    color: #d63155;
    padding: 0.25em 2em;
    border-radius: 8px;
}
.code-block {
    padding: 2em 0;
    font-size: 2rem;
    background-color: var(--background-color-blue);
    font-family: "Consolas", Courier, monospace;
    border-radius: var(--border-codeblock-radius);
}
.code-block {
    color: var(--color-key-code);
}
.code-block>*:first-child {
    padding-left: var(--indent);
}
.code-block>*:last-child {
    padding-left: var(--indent);
}
.code-block>* {
    text-indent: var(--indent);
    padding-left: var(--indent);
}

.code-block .attribute {
    color: var(--color-key-attr);
}

.code-block .value {
    color: var(--color-key-value);
}

.code-block .text-value {
    color: var(--color-key-text); 
    padding-left: calc(var(--indent) * 2);
}

.code-block .comma-dot {
    color: var(--color-key-comma);
}

.code-block:not(:last-child) {
    border-end-start-radius: 0;
    border-end-end-radius: 0;
}

.code-block +.note {
    color: var(--color-key-comma);
    padding: 0.75em 2em;
    font-style: italic;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: "Consolas", Courier, monospace;
    background-color: #4d565c;
    border-end-start-radius: var(--border-codeblock-radius);
    border-end-end-radius: var(--border-codeblock-radius);
}
.code-block.inline {
    padding: 2em;
}
.code-block.inline>*{
    padding: 0;
} 
/* Exemplos */
ol.example {
    display: flex; 
    flex-flow: row wrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-evenly;
}

ol.example li>*:not(.code-block)>*{
    text-align: start;
    color: var(--color-key-code);
    background-color: var(--background-color-grey);
    border: solid var(--background-color-blue) .25em;
}

ol.example li .flex-example {
    display: block;
    border-radius: 16px;
}

ol.example li .grid-example {
    display: grid;
}

ol.example li .grid-example>* {
    font-weight:bolder;
    border-radius: 16px;
}

ol.example#template-columns li .grid-example {
    grid-template-columns: 1fr 1fr 1fr;
}

ol.example#template-rows li .grid-example {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
